config/schemas/pgc07-errors-output.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!--  
 API XBRL-PGC2007 is a set of packages for the treatment of instances XBRL
 (eXtensible Business Reporting Language) corresponding to the taxonomy PGC2007.
 The General Plan of Accounting 2007 is the legal text that regulates the accounting of
 the companies in Spain.
 
 This program is part of the API XBRL-PGC2007.
 
 Copyright (C) 2009  INTECO (Instituto Nacional de Tecnologías de la
 Comunicación, S.A.)
 
 Authors: Members of Software Quality Department inside INTECO
 
 E-mail: difusioncalidad@inteco.es
 
 This program is free software; you can redistribute it and/or modify it under the terms of
 the GNU Lesser General Public License as published by the Free Software Foundation; 
 either version 3 of the License, or (at your opinion) any later version.
 
 This program is distributed in the hope that it will be useful, but WITHOUT ANY
 WARRANTY; without even the implied warranty of MERCHANTABILITY or 
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
 License for more details.
 
 You should have received a copy of the GNU Lesser General Public License along
 with this program. If not, see http://www.gnu.org/licenses/
 --> 


<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="PGC07ErrorsOutput">
        <complexType>
            <sequence>
                <element name="PGCErrorOut" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="PGCErrorParameter" minOccurs="0" maxOccurs="unbounded">
                                <complexType mixed="true">
                                    <sequence/>
                                    <attribute name="id" type="integer"/>
                                    <attribute name="PGCCode" type="xsd:string" use="optional" />
                                </complexType>
                            </element>
                            <element name="defaultDescription" type="xsd:string" />
                            <element name="translatedDescription" type="xsd:string"  minOccurs="0" />
                           
                        </sequence>                    
                        <attribute name="errorCode" type="integer"/>
                        <attribute name="errorType" type="xsd:string" use="optional" />
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>