resources/System/QueryRegistry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Parameters">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Queries">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Query" type="QueryType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="QueryType">
		<xs:sequence>
			<xs:element ref="QueryString"/>
			<xs:element name="Parameters" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parameter" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string"/>
								<xs:attribute name="type" type="xs:string"/>
								<xs:attribute name="pos" type="xs:number"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="implementationUri" type="xs:string" use="required"/>
		<xs:attribute name="queryUri" type="xs:string"/>
		<xs:attribute name="query" type="xs:string"/>
	</xs:complexType>
	<xs:element name="QueryString" type="xs:string"/>
</xs:schema>
<!--
 The contents of this file are subject to the UBmatrix License Version 1.0 (the "License");
 you may not use this file except in compliance with the License. You may obtain a copy of the
 License at http://www.ubmatrix.com/prospect/eula_processor.asp

 Software distributed under the License is distributed on an "AS IS" basis,
 WITHOUT WARRANTY OF ANY KIND, either express or implied.
 See the License for the specific language governing rights and limitations under the License.

 Copyright (c) UBmatrix, Inc., 2005-2006.  All Rights Reserved.
-->